{% extends 'blog/base.html' %} {% block title %} DETAIL{% endblock %} {% block css%}
{% load static %}
{% endblock %} {% block content %}

<div>
    <h4>{{post.title}}</h4>
    writer:{{post.author}}
</div>
<div>
    <h5>{{post.content}}</h5>
</div>
<div>
    <a href="{% url 'blog:update' post.pk %}">update</a>
    <a href="{% url 'blog:delete' post.pk %}">delete</a>
    <a href="{% url 'blog:home' %}">home</a>
</div>
<div>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="content" placeholder="comment">
        <button type="submit">submit</button>
    </form>
</div>
<div>
    {% for comment in post.comments.all %}
    <ul>
        <li>{{comment.content}}
            writer:{{comment.author}}
            <a href="{% url 'blog:deleteComment' post.pk comment.pk %}">delete</a>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %}