<!DOCTYPE html>
<html lang="en">
<head>
    {%load static %}
    <link rel="stylesheet" href="{% static 'css/info.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>info</title>
</head>
<body>
    <header>
        <a href="{% url 'info' %}">info</a>
        <span>/</span>
        <a href="{% url 'project' %}">project</a>
    </header>
    
    <div class="title">
        <h1>안녕하세요,<h1> 
        <div class="one"></div>
        <h1>김한별입니다.</h1>
        <div class="two"></div>
    </div>
    <div class="skill">
        <h3>skills</h3>
        <div class="group">
            <h5>C python node.js django</h5>
        </div>
        
    </div>

</body>
</html>