body{
    background-color: rgba(0, 0, 0, 0.089);
    font-family: Century Gothic, sans-serif;
}
h2{
    background-color: rgba(251, 255, 0, 0.311);
    width: fit-content;
}
a{
    text-decoration: none;
}
.next{
    text-decoration: underline;
}