{% extends 'base.html' %} 

{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'detail.css' %}" />
{% endblock %} 

{% block content %}
<div class="content">
  <div class="left">
    <h2>글 상세 페이지</h2>
    <div>
      <h3>제목</h3>
      <div>{{ article.title }}</div>
    </div>
    <div>
      <h3>내용</h3>
      <div>{{ article.content }}</div>
    </div>
    <div>
      <h3>작성 시간</h3>
      <div>{{article.time}}</div>
    </div>
    <br/>
    <div class="next">
      <a href="{% url 'edit' article.id %}">수정하기</a>
      <br/>
      <a href="{% url 'category' article.category %}">{{article.category}} 목록으로 돌아가기</a>
      <br/>
      <a href="{% url 'home' %}">전체 목록으로 돌아가기</a>
    </div>
  </div>


  <div class="comments">
    <form method="POST">
      {% csrf_token %}
      <input type="text" name="content" placeholder="댓글 입력">
      <button type="submit">작성하기</button>
    </form>
    {% for comment in article.comments.all %}
    <div class="comment">
      <li>{{comment.content}}</li>
      <a href="{% url 'deleteComment' article.id comment.id %}">댓글 삭제</a>
    </div>
    
    <form action="{% url 'recomment' article.id comment.id %}" method="POST">
      {% csrf_token %}
      ⤷<input type="text" name="content" placeholder="대댓글 입력">
      <button type="submit">작성하기</button>
    </form>
    <div class="recomments">
      {% for recomment in comment.recomments.all %}
      <li>{{recomment.content}}</li>
      <a href="{% url 'deleteRecomment' article.id recomment.id %}">대댓글 삭제</a>
      {% endfor %}
    </div>
    {% endfor %}
  </div>
<div>
{% endblock %}